@charset "UTF-8";
/* CSS Document */

body {
	background-color: #abdbe3;
	margin-left:10%;
	margin-right:5%;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; 
}
header {
	background-color:#2b5fb7;
	padding-bottom:20px;
}
nav {
	color:aliceblue;
}
ul {

}
li{
	list-style-type: none;
	display:inline;
	margin-right: 10px;
}

.posttime {
	color:darkred;
	font-size: 0.7em;
}

h2, p, h3 {
	color:darkblue;
}
